.main-footer {
  height: 10vh;
}
.main-footer nav {
  display: flex;
  justify-content: center;
  padding-right: 2vw;
  height: 100%;
  width: auto;

}
.main-footer nav span {
  color: black;
  align-self: center;
  margin: 0px 20px 0px 20px;
}
.main-footer a {
  text-decoration: none;
  color: black;
  padding:15px;
  background-color: rgb(232, 228, 228);
  border-radius: 5px;
}
.main-footer a:hover {
 background-color: aquamarine;
}
